.child_service {
    text-align: center;
    color: #ffff;
    width: 300px;
    margin: 25px auto;
    position: relative;
    overflow: hidden;
}

.child_service h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    margin-bottom: 0;
    margin-top: 0;

}

.inner_service {
    padding: 17.5px 26px;
    position: absolute;
    width: 82.5%;
    height: 83%;
    top: -250px;
    left: 0;
    z-index: 1;
    transition: 0.3s;
}

.inner_service::after {
    background-color: #02025b;
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    top: 0;
    left: 0;
    opacity: 0.5;
    z-index: -1;

}


.child_service a {
    text-decoration: none;
    color: white;
    background-color: hwb(16 13% 9%);
    display: inline-block;
    margin-top: 15px;
    padding: 10px 25px;
    font-size: 14px;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}


.child_service a:hover {
    background-color: rgba(0, 0, 255, 0);
    border: 2px solid rgba(68, 76, 238, 0.599);
    box-shadow: 5px 5px 15px 5px rgba(255, 255, 255, 0.529);
}


.child_service img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.child_service:hover img {
    transform: scale(1.5);
    transition: 0.5s;
}


.child_service:hover .inner_service {
    top: 0;
}